<!doctype html>
<html ng-app="app">
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>

    <script language="javascript" type="text/javascript">
      angular.module('app', ['ngResource'])
        /*.config(['$routeProvider', function($routeProvider){
          $routeProvider.
            when('/login_success', {templateUrl:'abc.html'});
        }]);*/
        
      function BackendController($scope,$resource){
        
        $scope.waiting = "Ready";
        $scope.su_waiting = "Ready";
        //resource calls are defined here
        
        $scope.Model = $resource('http://galaxy-osmosis.appspot.com/:user_type/:ftn',
                                {},
                                {
                                  'login': {method: 'JSONP', params:{callback: 'JSON_CALLBACK'}, isArray: false},
                                  'get': {method: 'JSONP', isArray: false, params:{callback: 'JSON_CALLBACK'}},
                                  'get_user_info': {method: 'JSONP', isArray: false, params:{callback: 'JSON_CALLBACK'}},
                                  'update_user_info': {method: 'JSONP', isArray: false, params:{callback: 'JSON_CALLBACK'}},
                                  'signup': {method: 'JSONP', isArray: false, params:{email: $scope.new_email, password: $scope.new_password, callback: 'JSON_CALLBACK'}}
                                }
                        );
        //Sign up
        $scope.signup = function(){
       
          $scope.su_waiting = "Loading";
          
          data = {'user_type':'user',
                  'ftn':'signup',
                  'email':$scope.new_email,
                  'password':$scope.new_password
          };
                
          $scope.Model.signup(data,function(response) {

                  $scope.signup_status = response.signup_result;
                  $scope.su_waiting = "Done";

          }); 
        };
        
        //User login logic
        $scope.user_login = function(){
          $scope.waiting = 'Logging in';
          
          data = {'user_type':'user',
                  'ftn':'login',
                  'email':$scope.email,
                  'password':$scope.password
          };
                
          $scope.Model.login(data,function(response) {

                  $scope.login_status = response.login_result;
                  if($scope.login_status){
                    //$location.path('/login_success');
                    //$scope.get_user_info();
                    window.location.href="app/index-for-login.html";
                  }
                  $scope.waiting = 'Done';

          });
        };
        
        //Get User Info logic
        $scope.get_user_info = function(){
          
          data = {'user_type':'user',
                  'ftn':'get_info',
                  'email':$scope.email
          };
          
          $scope.Model.get_user_info(data, function(response){
                  
                  user_info = response.user;
                  $scope.f_name = user_info.first_name;
                  $scope.l_name = user_info.last_name;
                  $scope.qualification = user_info.qualification;
                  $scope.c_location = user_info.c_location;
                  $scope.about_user = user_info.about_user;
          });
        };
        
        //Update user logic
        $scope.updateUser = function(){
          
          data = {'user_type':'user',
                  'ftn':'update',
                  'email':$scope.email,
                  'f_name':$scope.f_name,
                  'l_name':$scope.l_name,
                  'qualification':$scope.qualification,
                  'c_location':$scope.c_location,
                  'about_user':$scope.about_user
          };
          
          $scope.Model.update_user_info(data, function(response){
          
                  update_result = response.update_result;
                  
                  if(update_result){
                    //if update success, get user info
                    $scope.get_user_info();
                  }
          });
        };
      }
    </script>
  </header>
  <body ng-controller="BackendController">
    Backend:  {{remote_url}} <br>
    <hr>

      <!--Login Form-->
      <form ng-submit="user_login()">
        Email: <input type="text" ng-model="email"><br>
        Password: <input type="password" ng-model="password">
        <input type="submit" name="login" value="login">
      </form>
      login status: {{login_status}}<br>
      login readiness: {{waiting}}
      <hr>

      <!-- Sign up form-->
      Sign up: <br>
      <form ng-submit="signup()">
        Email: <input type="text" ng-model="new_email"><br>
        Password: <input type="password" ng-model="new_password">
        <input type="submit" name="sign_up" value="Sign up">
      </form>
      Sign up status: {{signup_status}}<br>
      Sign up readiness: {{su_waiting}}
      <hr>
      
      <!--Update Form-->
      Update Info: <br>
      <form ng-submit="updateUser()">
        First-name: <input type="text" ng-model="f_name">
        Last-name: <input type="text" ng-model="l_name"><br>
        Qualification: <input type="text" ng-model="qualification"><br>
        Current Location: <input type="text" ng-model="c_location"><br>
        About Me: <input type="text" ng-model="about_user"><br>
        <input type="submit" name="update" value="Update {{f_name}} {{l_name}} info">
      </form>
      
  </body>
</html>
